<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Detalle Producto</title>
</head>
<body>
    <h1>Detalle del producto</h1>
    <h2>Nombre: {{product.nombre}}</h2>
    <h2>Precio: {{product.precio}}</h2>
    <h2>URL: {{product.url}}</h2>
</body>
</html>